<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.emforce.wonderbox.dao.stats.CrawlingStatsDao">
	
	<insert id="insertBidCrawlingStats" parameterType="BidCrawlingStats">
		INSERT INTO bid_crawling_stats(
			created_by,
			updated_by,
			scheduled_at,
			server_name,
			emergency_status,
			process_num,
			kwd_cnt,
			error_cnt,
			success_cnt,
			created_at,
			updated_at,
			work_time
		)
		VALUES(
			#{created_by},
			#{updated_by},
			#{scheduled_at},
			#{server_name},
			#{emergency_status},
			#{process_num},
			#{kwd_cnt},
			#{error_cnt},
			#{success_cnt},
			NOW(),
			NOW(),
			#{work_time}
		)
	</insert>
	
	<select id="selectBidCrawlingStatsRate" resultType="BidCrawlingStatsRate">
		SELECT IFNULL(server_name, "total") AS server_name,
			   SUM(kwd_cnt) AS kwd_cnt,
			   SUM(error_cnt) AS error_cnt,
			   IFNULL((SUM(error_cnt) / SUM(kwd_cnt))*100, 0) AS error_rate,
			   SUM(success_cnt) AS success_cnt,
			   IFNULL((SUM(success_cnt) / SUM(kwd_cnt))*100, 0) AS success_rate,
			   SUM(work_time) AS work_time,
			   (SUM(work_time) / SUM(kwd_cnt)) AS avg_time
	      FROM bid_crawling_stats
	     WHERE DATE(scheduled_at) LIKE DATE(NOW())
	  GROUP BY server_name
	      WITH ROLLUP
	</select>
	
</mapper>