<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.emforce.wonderbox.dao.collector.CrawlingDao">

	<select id="selectKeywordsInCrashedMachine" parameterType="Integer" resultType="BidFavoriteKeyword">
		SELECT kwd_nm, target
		  FROM bid_favorite_keywords
		 WHERE process_num = #{value}
	  GROUP BY kwd_nm, target
	</select>

	<select id="selectKwdNmAndTargetFromBidFavoriteKeywords" parameterType="Map" resultType="HashMap">
		SELECT kwd_nm, 
			   target, 
			   process_num, 
			   emergency_status
		  FROM bid_favorite_keywords
	   <where>
	   	  <if test="caller == 'module'">
	      process_num IN (SELECT process_num 
	                        FROM bid_machine_mngs 
	                       WHERE status = 'Active')
	   	  </if>
	   	  <if test="bid_status != null">
	   	    AND bid_status = #{bid_status}
	   	  </if>
		  <if test="process_num != null">
			AND process_num = #{process_num}
		  </if>
		  <if test="target != null">
		  	AND target = #{target}
		  </if>
		  <if test="emergency_status != null">
		  	<if test="emergency_status == 'True'">
		  		AND emergency_status = 'True'
		  	</if>
		  	<if test="emergency_status == 'True_final'">
		  		AND emergency_status = 'True_final'
		  	</if>		  	
		  	<if test="emergency_status == 'False'">
		  		AND emergency_status = 'False'
		  	</if>
		  </if>
	   </where>
	  GROUP BY kwd_nm, target
	</select>
	
	<select id="selectOneForBidAmtChangeModule" parameterType="String" resultType="HashMap">
		SELECT bf.advs_id adv_id,
			   bfk.kwd_id, 
			   ai.na_account_ser, 
			   bfk.goal_rank, 
			   bfk.max_bid_amt, 
			   bfk.site, 
			   bfk.emergency_status,
			   bfk.rank,
			   bfk.opp_gap,
			   bfk.opp_site,
			   bfk.resv_status
		  FROM bid_favorites bf,
		       (SELECT kwd_id, bid_favorites_id, goal_rank, max_bid_amt, site, emergency_status,rank, opp_gap, opp_site, resv_status
		          FROM bid_favorite_keywords
		         WHERE kwd_id = #{_parameter}) bfk,
		       adv_infos ai
		 WHERE bf.id = bfk.bid_favorites_id
		       AND bf.advs_id = ai.adv_id
	</select>
	
	<select id="selectAllFromBidFavoritesKeywords" parameterType="BidFavoriteKeyword" resultType="BidFavoriteKeyword">
		SELECT *
		  FROM bid_favorite_keywords
		  <where>
			<if test="kwd_nm != null">
				AND kwd_nm = #{kwd_nm}
			</if>		  
			<if test="target != null">
				AND target = #{target}
			</if>
			<if test="site != null">
				AND site = #{site}
			</if>
			<if test="bid_status != null">
				AND bid_status = #{bid_status}
			</if>
		  	<if test="emergency_status == 'False'">
		  		AND emergency_status = 'False'
		  	</if>
		  	<if test="emergency_status != 'False'">
		  		AND emergency_status != 'False'
		  	</if>			
		  </where>
	</select>
	<select id="selectSearchAdId" parameterType="String" resultType="int">
		SELECT id
		FROM search_ads
		WHERE name = #{kwd_nm}
	</select>	
	
	<select id="selectStatusFromBidMachine" parameterType="Map" resultType="BidMachineMng">
		SELECT id, 
			   created_by, 
			   updated_by, 
			   process_num, 
			   status, 
			   cur_crashed_at, 
			   cur_rerunned_at, 
			   created_at, 
			   updated_at, 
			   ip_v4, 
			   name, 
			   `desc`
		  FROM bid_machine_mngs
		 <where>
			<if test="status != null">
				status = #{status}
			</if>
			<if test="process_num != null">
				AND process_num = #{process_num}
			</if>			 
		 </where>
	</select>
	
	<update id="updateProcessNumFromBidFavoriteKeyword" parameterType="Map">
		UPDATE bid_favorite_keywords
		   SET process_num = #{process_num}
		 WHERE kwd_nm = #{kwd_nm}
		  	   AND target = #{target}
	</update>
	
	<update id="updateCrash" parameterType="String">
		UPDATE bid_instances
		   SET updated_by = 'SYSTEM',
		       updated_at = NOW(),
		       status = 'Inactive'
		 WHERE name = #{name}
		       AND status = 'Active'
	</update>
	
	<select id="selectBidInstance" parameterType="String" resultType="BidInstance">
		SELECT *
		  FROM bid_instances
		 WHERE name = #{_parameter}
	</select>
		
	<update id="updateReRun" parameterType="String">
		UPDATE bid_machine_mngs
		   SET status = 'Active',
		   	   cur_crashed_at = NULL,
		   	   updated_at = NOW(),
		   	   cur_rerunned_at = NOW()
		 WHERE process_num != 120
			   <if test='_parameter != null'>
			   AND process_num = #{_parameter}
			   </if>
	</update>
	
	
	
	<select id="selectRankKeywordList" parameterType="BidFavoriteKeyword" resultType="BidFavoriteKeyword">
		SELECT *
		  FROM bid_favorite_keywords
		 WHERE kwd_nm = #{kwd_nm}
		       AND target = #{target}
		       AND (bid_status = 'Active' OR bid_status = 'OppActive')
		       AND emergency_status = #{emergency_status}
	</select>
	
	<select id="selectResvStatusActiveKeywordList" parameterType="Map" resultType="BidFavoriteKeyword">
	    SELECT bst.kwd_id, ai.adv_id, ai.na_account_ser, bst.color, bst.bid_status, bst.goal_rank, bst.max_bid_amt, bst.goal_cpa, bfk.rank, bfk.emergency_status, bfk.site
	  	  FROM (SELECT kwd_id, color, bid_status, goal_rank, max_bid_amt, goal_cpa
			      FROM bid_schedule_types
			     WHERE bid_status = #{bid_status}) bst,
		       (SELECT kwd_id, bid_favorites_id, SUBSTRING_INDEX(SUBSTRING_INDEX(bid_schedule,',',#{timePosition}),',',-1) color, rank, site, emergency_status
			      FROM bid_favorite_keywords
			     WHERE resv_status = 'Active'
	                   AND emergency_status = #{emergency_status}
	                   AND bid_schedule IS NOT NULL) bfk,
	           adv_infos ai,
	           bid_favorites bf 
	     WHERE bst.kwd_id = bfk.kwd_id 
	           AND bst.color = bfk.color 
	           AND bf.id = bfk.bid_favorites_id 
	           AND bf.advs_id = ai.adv_id
	</select>
	
	
</mapper>