<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task.xsd">
						
	<!-- Root Context: defines shared resources visible to all other web components -->
	<context:component-scan base-package="kr.co.emforce.wonderbox.service.impl, kr.co.emforce.wonderbox.dao.collector, kr.co.emforce.wonderbox.dao.stats"/>
	<task:annotation-driven/>
	
	<bean id="anStatsDNS" class="java.lang.String">
		<constructor-arg value="#{ systemProperties['anStats.DNS'] }"/>
	</bean>
	
	<!-- MyBatis Collector Connection Setting Start -->
	<bean id="collectorDataSourceOrigin" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://#{systemProperties['db.host']}/#{systemProperties['db.name']}?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="#{systemProperties['db.username']}" />
		<property name="password" value="#{systemProperties['db.password']}" />
		<!-- 특정 시간마다 validationQuery를 실행 셋팅 시작 -->
		<property name="validationQuery" value="select 1" />
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="7200000" />
		<!-- 특정 시간마다 validationQuery를 실행 셋팅 끝 -->
	</bean>
	
	<bean id="collectorDataSource" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
        <constructor-arg ref="collectorDataSourceOrigin" />
        <property name="logFormatter">
            <bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter">
                <property name="loggingType" value="MULTI_LINE" />
                <property name="sqlPrefix" value="Collector SQL         :  "/>
            </bean>
        </property>
    </bean>
	
	<bean id="collectorSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource">
			<ref bean="collectorDataSource" />
		</property>
		<property name="typeAliasesPackage" value="kr.co.emforce.wonderbox.model.collector"/>
		<property name="mapperLocations" value="classpath:mapper/collector/*.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="collectorSqlSessionFactory"/>
		<property name="basePackage" value="kr.co.emforce.wonderbox.dao.collector" />
	</bean>
	
	<!-- Transaction -->
	<bean id="collectorTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="collectorDataSource"/>
    </bean>
    <!-- MyBatis Collector Connection Setting End -->
    
    
    
    <!-- MyBatis Stats Connection Setting Start -->
	<!-- 
	<bean id="statsDataSourceOrigin" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://#{systemProperties['anStatsDb.host']}/#{systemProperties['anStatsDb.name']}?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="#{systemProperties['anStatsDb.username']}" />
		<property name="password" value="#{systemProperties['anStatsDb.password']}" />
		<property name="validationQuery" value="select 1" />
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="7200000" />
	</bean>
	
	<bean id="statsDataSource" class="net.sf.log4jdbc.Log4jdbcProxyDataSource">
        <constructor-arg ref="statsDataSourceOrigin" />
        <property name="logFormatter">
            <bean class="net.sf.log4jdbc.tools.Log4JdbcCustomFormatter">
                <property name="loggingType" value="MULTI_LINE" />
                <property name="sqlPrefix" value="Stats SQL         :  "/>
            </bean>
        </property>
    </bean>
	
	<bean id="statsSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource">
			<ref bean="statsDataSource" />
		</property>
		<property name="typeAliasesPackage" value="kr.co.emforce.wonderbox.model.stats"/>
		<property name="mapperLocations" value="classpath:mapper/stats/*.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="statsSqlSessionFactory"/>
		<property name="basePackage" value="kr.co.emforce.wonderbox.dao.stats" />
	</bean>
	
	<bean id="statsTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="statsDataSource"/>
    </bean>
    -->
    <!-- MyBatis Stats Connection Setting End -->
    
    
    
	<tx:annotation-driven proxy-target-class="true"/>
	
  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="spam.emforce.co.kr" />
    <property name="port" value="25" />
    <property name="username" value="#{systemProperties['mail.username']}" />
    <property name="password" value="#{systemProperties['mail.password']}" />
    <property name="javaMailProperties">
      <props>
        <prop key="mail.smtp.auth">true</prop>
        <prop key="mail.smtp.starttls.enable">true</prop>
<!--        <prop key="mail.smtp.timeout">8500</prop> -->
        <!-- mail 서버 연결시 timeout 시간 설정 -->
        <prop key="mail.debug">true</prop>
        <!-- log를 보고 싶다면 사용 -->
      </props>
    </property>
  </bean>
	
</beans>
